[2018-05-12 17:46] karan-saluja opened #4 "confirmation email not going to sender"
Hi Rias,
Thanks a lot for making this plugin.
Upon using it, I realised that the confirmation mail does not go to the person submitting the form. Instead it goes to the system admin. Is this a bug or am I doing something incorrectly. It would be awesome if you could look into it please.
Thanks a lot
Karan

[2018-05-12 18:07] Rias500 commented on #4
Ah yes, this is a bug, as soon as I have time I’ll add a fix. Should be either tomorrow or the day after

[2018-05-14 08:26] Rias500 commented on #4
Should be fixed in 1.0.3

[2018-05-14 08:26] #4 closed

[2018-05-14 08:35] karan-saluja commented on #4
Thanks a lot Rias, you are awesome

[2018-05-21 09:41] sanscheese opened #6 "Using a queue"
I have been looking a little more in form handling with craft. I like the thought of extending the simple first party form handler.

I am looking at using the queue to receive submissions, and then process the sends by a cron. Reason being allowing for a site to not store user data longer than required, but if there is an issue with the processing (such as an SMTP error), the submissions can then

[2018-05-21 09:46] Rias500 commented on #6
Very interesting, I haven't had the best experiences so far with the Yii queues (lots of issues with serialization) but I'll gladly accept a working PR with queue functionality 👍

[2018-05-21 10:06] sanscheese commented on #6
Am keen for (anyone's) input on if looking at using queues is a wiser/safer path to go down or if likely more pain rather than just 'keep it simple stupid'. Will keep your issue with serialization in mind, as I've not dug into Yii's queue system much till now.

I'll set how I go an get back to you. Cheers

[2018-05-29 11:51] adamhenretty opened #7 "Contact submissions not saving to CMS"
Hi Rias,

I am using your contact form extensions plugin on a couple of Craft 3 sites and seem to have an issue where the submissions are no longer saving to the database. Pretty sure it was working when I first started using it a couple of weeks ago. Now I just get an unknown error occurred when I try to look at the submissions.

I tried to remove the plugin and reinstall it, but when I removed i

[2018-06-06 17:54] andrewmenich commented on #7
Mine are also not saving. With the Craft Debug Bar enabled, the POST request shows all the form data as it should and there are no errors in the log.

Does this plugin require the email functionality of the original Contact Form plugin to be working correctly? I am still working on getting the emails to send, but I figured this plugin could work independently from that.

Craft v3.0.10.1
Contact Fo

[2018-06-07 07:08] putyourlightson opened #10 "reCAPTCHA Badge Hidden Setting"
While I see the temptation to hide the reCAPTCHA badge completely, perhaps it should be noted somewhere that according to the reCAPTCHA terms of service (to which you must have agreed to), you must inform visitors about the reCAPTCHA implementation on your site.
https://stackoverflow.com/a/44543771/1769259

Thanks for a great plugin!!

[2018-06-07 07:19] putyourlightson opened #11 "reCAPTCHA Badge Position Setting Bug"
The reCAPTCHA badge position setting is not working as the option values seem to be incorrectly set to integers rather than strings in version 1.0.5.

![screen shot 2018-06-07 at 09 17 06](https://user-images.githubusercontent.com/2318222/41084238-d098a96a-6a33-11e8-9c77-02dc8a7efc63.png)

[2018-06-07 07:55] #10 closed

[2018-06-07 07:55] #11 closed

[2018-06-07 07:56] Rias500 commented on #11
Thanks, fixed in the new release!

[2018-06-07 07:56] Rias500 commented on #10
Added a notice to the setting with a link to the stackoverflow post.

[2018-06-07 09:10] putyourlightson commented on #10
Thanks!

[2018-06-07 09:10] putyourlightson commented on #11
Thanks!

[2018-06-14 18:02] curtishenson commented on #7
Do your forms happen to have radios or check boxes in them? Those were causing unknown errors for me. Should be fixed in v1.0.6 if that's the issue.

[2018-06-15 10:53] adamhenretty commented on #7
I do have checkboxes yes. It works locally now since the update but not on the live site for some reason...

[2018-06-15 18:08] curtishenson commented on #7
The problem was in displaying the form values in the admin, so my best guess is it's one of the values?

All the form entries should still be saved in the database, that part still worked. So maybe a form submission in production is still preventing them from displaying.

[2018-06-20 13:30] monachilada opened #12 "Support saving attachments to a volume?"
This is more of a feature request, it would be great to have attachments to contact forms saved to a volume of choice when submitted. Are there any plans for this?

[2018-06-20 13:36] Rias500 commented on #12
Great idea for a feature! I currently don't need this but if/when I do I'll add it.

Always glad to accept a PR that adds it though if you need it faster :)

[2018-06-20 13:38] Rias500 commented on #7
I can't reproduce this is in any way on my own, if you have a consistent way to make this bug happen please let me know.

[2018-06-29 17:35] Rizen-Kris opened #13 "How do you export the data stored in the DB to like a csv etc?"
How do you export the data stored in the DB to like a css etc?

[2018-07-04 13:22] tomdeleu opened #14 "Translation of term "All submissions" in the header"
You cannot translate the terms "All submissions" and "Submissions" in the header (under form submissions in the main menu: https://cl.ly/2N1i3S3s362d), unlike the rest of the terms in the plugin.

Is there a reason for that?  (I'm pretty new at Craft so maybe there's something preventing this, I don't know)

[2018-07-04 13:29] Rias500 commented on #14
Ah, no reason, just something I've overlooked. I'll adjust it when I have the time, thanks for noticing :)

[2018-07-04 13:29] Rias500 commented on #14
Has to be run through `Craft::t()` here https://github.com/Rias500/craft-contact-form-extensions/blob/master/src/elements/ContactFormSubmission.php#L114

[2018-07-04 13:34] tomdeleu commented on #14
Cool!
Any idea when this would be?
(If you prefer, I would be willing to try and fix it, and submit a pull request this weekend)

[2018-07-04 14:06] Rias500 commented on #14
I'll probably get around to it this weekend, you can submit a PR if you want to 👍

[2018-07-12 14:08] acehead opened #16 "Listing submissions fails when message contains euro sign"
Steps to reproduce:
1. Submit form containing € sign in the message body.
2. Go to Form submissions section, notice that "error occured" messages are shown

It has something to do how PHP encodes/decodes JSON with euro sign in it.

Craft 3.0.14, PostgreSQL 9.6.6, PHP 7.2

[2018-07-13 10:48] #14 closed

[2018-07-16 08:42] cwcrawley commented on #16
I suspect I have the same or similar issue here. I'm getting errors trying to view form submissions and log files insist there's an issue with the JSON encode/decode.

Craft 3.0.15, PHP 7

[2018-07-18 20:47] ademers opened #17 "Possible conflict with Upvote plugin (?)"
The Contact Form Extensions plugin appears to be pulling in columns from a table belonging to the [Upvote](https://github.com/doublesecretagency/craft-upvote) plugin I also have installed.

Screenshot: https://cl.ly/1b2Y1Z1X3700

Unchecking columns and saving doesn't seem to work: https://cl.ly/0A1t1N453O0F

Thanks!

[2018-07-19 12:01] timdov commented on #16
I think I have the same issue. It looks like whenever there are messages with some symbols it breaks  listing in the Admin CP and throws errors. When I comment out "contactform_submissions.message" in "$this->query->select([..." function in ContractFormSubmissionQuery.php file - listing starts working.

Craft 3.0.16.1, PHP 7.2.7, MySQL DB

[2018-07-20 12:51] handplant opened #18 "Confirmation email will not be sent to"
Hi Rias, unfortunately your plugin does not send the confirmation email. The custom notification email works.

I am using Craft CMS 3 3.0.16.1 and craft-contact-form-extensions 1.0.7.
Craft sends the mails via Mailgun.

Thank you, Andi.

[2018-07-23 09:30] handplant commented on #18
Okay, sorry. It's done. Mailgun was configured incorrectly. :)

[2018-07-23 09:30] #18 closed

[2018-07-30 18:41] daltonrooney commented on #16
Confirmed, same error here. Looks like the original message was submitted in Cyrillic.

[2018-07-31 08:41] Rias500 commented on #17
Should be fixed in 1.0.8

[2018-07-31 08:41] #17 closed

[2018-07-31 08:42] Rias500 commented on #16
I've fixed this encoding issue in 1.0.8, though it might only work for new submissions. Thanks for the reports!

[2018-07-31 08:42] #16 closed

[2018-07-31 08:42] #7 closed

[2018-08-03 07:46] G17creative opened #19 "Save submissions to the database error"
Problem with the message field saving to database:

array_map(): Argument #2 should be an array

$message = array_map('utf8_encode', $submission->message);

[2018-08-03 08:00] Rias500 commented on #19
Ah, forgot about that case, I'll get a fix out asap

[2018-08-03 08:05] Rias500 commented on #19
I've added a new release 1.0.9, let me know if it's fixed for you!

[2018-08-03 08:05] #19 closed

[2018-08-03 08:47] G17creative commented on #19
Yes that's fixed it! Thank you for the speedy response, amazing!

[2018-08-04 10:42] benface opened #20 ""Badge position" setting won't save"
No matter what I set it to, it reverts to "Bottom Right".

[2018-08-04 11:56] benface opened #21 "Show new lines in submission details (in the CP)"
In the "Message" field in the details of a submission, new lines are not converted to `<br>`, so we lose a bit of the message's formatting.

[2018-08-09 08:00] Moorst opened #22 "Page HTML emailed via AJAX"
I thought this was a problem with the core Contact form plugin (see https://github.com/craftcms/contact-form/issues/140#issuecomment-411427633) but when disabling this plugin the correct data was emailed.

[2018-08-15 14:45] DavidMaillard opened #23 "Can't save checkboxes values"
When it add checkboxes in my form, I have an php error.

[code]

`
PHP Warning – yii\base\ErrorException`

`utf8_encode() expects parameter 1 to be string, array given`

`in [...]/vendor/rias/craft-contact-form-extensions/src/services/ContactFormExtensionsService.php at line 68`

`$message = array_map('utf8_encode', $submission->message);`

Can you help me please ?
Thx

[2018-08-20 13:08] nordentwickler opened #25 "confirmation-subject and confirmation-fromName"
Hey rias, what about these features:

1. confirmation subject
it would be great to set a custom confirmation subject from the form. i'm using the contact-form plugin for more than one form and each form is a little different from its content, so the confirmation-subject could be different too. what do you think?

2. confirmation fromName
this should be the sender of the form. this should some page

[2018-08-21 09:26] Rias500 commented on #23
This is an issue that was introduced in the latest release, I'll get a fix out as soon as I can!

[2018-08-21 18:54] #21 closed

[2018-08-21 18:54] #20 closed

[2018-08-21 18:55] Rias500 commented on #23
Should be fixed in the new release 1.0.10

[2018-08-22 20:12] juresrpcic commented on #23
I'm still getting an error when submitting checkboxes:

`PHP Notice – yii\base\ErrorException - Array to string conversion`

This is my checkbox code:

[code]

The file in the error report is inside compiled templates, the highlighted line is:

`echo twig_escape_filter($this->env, $context["value"], "html", null, true);`

Thanks.

[2018-09-03 12:11] bhashkar007 opened #27 "How to show additional fields in email template"
I am using Contact Form Extensions plugin https://github.com/Rias500/craft-contact-form-extensions for setting up custom notification email template but not sure what tag would be used for additional fields like `Phone`. Here is my code sample:
[code]
Could you please give me some pointer. Thanks

[2018-09-06 02:32] bhashkar007 commented on #27
any thought please.

[2018-09-06 09:35] Rias500 commented on #27
You can access extra variables like this:

[code]

Just make sure that your input has `name="message[phone]"`

[2018-09-06 09:35] #27 closed

[2018-09-20 15:16] jonXmack commented on #22
I'm also having this issue.

[2018-09-21 14:38] Pinchcliffe commented on #25
I've made a pull request where I changed the sender address to be "To Email" variable from the Contact Form plugin by Craft. It makes more sense than sender of the form should get a mail from himself.

[2018-10-05 06:23] bitboxfw opened #29 "Link to saved submissions detail broken"
When im trying to open saved submission in the CP, I'm getting "Template not found" error.

The generated URL is:
https://www.domain.tld/admin/contact-form-extensions/contact-form-extensions/submissions/91/

Correct URL should be:
https://www.domain.tld/admin/contact-form-extensions/submissions/91/

[2018-10-26 13:17] bgarrant opened #30 "Console Errors on Safari and Firefox"
When I look at the code inspector after installing Contact Form Extensions, I am seeing a lot of errors in the console.  Any chance you can fix these?  Your extension is fantastic and many of us trust it for our client sites.  It seems to work fine, but weird having these errors.  You can see the errors at https://www.parkerlinestriping.com/contact.

Safari
![screen shot 2018-10-26 at 9 15 23 am](

[2018-10-26 13:57] Rias500 commented on #30
Seems like your site has a CSP https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP you'll have to add rules to allow for scripts added in the source if you want to use the ReCAPTCHA part of this plugin

[2018-10-26 13:57] #30 closed

[2018-10-27 00:30] bgarrant commented on #30
I just have a base install that we host on a CPanel server. Never setup a CSP. Any advice on what and how to add this to make this thing work?

[2018-11-12 21:02] chrislam opened #32 "Saves submissions marked as spam by honeypot plugin"
Not sure if this is strictly within scope of this plugin as I'm trying to use https://github.com/craftcms/contact-form-honeypot with this plugin.

When contact-form-honeypot sees it's honeypot input has a value, it sets `isSpam` to true and no email is sent. This is all expected.

This plugin does not check the state of the `isSpam` flag before saving a form submission to the database. Not sure if

[2018-11-21 10:55] billythekid opened #33 "302 on ajax submission"
I've been experiencing a 302 browser redirect on submissions using this plugin and the invisible recaptcha option when submitting via AJAX that is not experienced by turning that off. Any idea as to why this is happening? Had a quick scan in the code but nothing popped out at me.

Cheers

[2018-11-22 11:31] jamie-jenks commented on #33
+1 to this. Would be nice if it could pass a response in the AJAX call without the refresh.

[2018-11-27 17:51] benface opened #34 "[Feature Request] Ability to define settings in config file"
Just like the Contact Form plugin lets us do with a `config/contact-form.php` file.

[2018-11-28 10:39] Rias500 commented on #34
This is already possible. By default every plugin in Craft 3 supports this. You can create a `config/contact-form-extensions.php` file and use this https://github.com/Rias500/craft-contact-form-extensions/blob/master/src/config.php as the base.

[2018-11-28 10:39] #34 closed

[2018-12-03 12:10] Rias500 commented on #33
Are you including the correct `g-recaptcha-response` in your AJAX submission when you submit to the form?

My plugin doesn't handle any redirects on submissions, make sure your request also has a header that sets `accepts: application/json`

[2018-12-03 12:10] #33 closed

[2018-12-03 12:16] #29 closed

[2018-12-03 12:18] Rias500 commented on #25
Hi,

These should already be possible by setting them in hidden fields. This is something the Craft Contact Form plugin handles:

https://github.com/craftcms/contact-form/blob/v2/src/controllers/SendController.php#L39

`fromEmail`, `fromName` and `subject` can all be set with hidden inputs.

[2018-12-03 12:18] #25 closed

[2018-12-03 12:23] Rias500 commented on #23
@juresrpcic Not able to reproduce it with your exact field setup:

![image](https://user-images.githubusercontent.com/3626559/49373441-7c292f00-f6fe-11e8-9c58-2015fb60899f.png)

Closing for now, open a new issue if you're still experiencing this!

[2018-12-03 12:23] #23 closed

[2018-12-03 12:33] Rias500 commented on #32
I've added a potential fix in 1.0.12. There's not more that I can do if this doesn't fix it because then it's an issue of the order of the event handlers. You could open an issue with the honeypot plugin so they can specify that their event has to be handled first: https://www.yiiframework.com/doc/guide/2.0/en/concept-events#event-handler-order

[2018-12-03 12:33] #32 closed

[2018-12-31 15:19] billythekid commented on #33
Apologies for the delay in responding to this and thanks for the suggestions.

I've created [a gist with the contact form code and the ajax code](https://gist.github.com/billythekid/241125a524f18f009f1da2d44e48fbe0) (jquery) everything "works" except this redirect happens. The accepts header is set properly by jquery. The g-recaptcha-response is also correct (it's just serialized by the JS)

Any f

[2019-01-03 17:05] eybarra10 opened #37 "From Submissions will not show submissions with malformed UTF-8 characters"
Hi I have an issue viewing my form submissions with a non UTF-8 character, is there anyway to remove that submission or fix the issue or maybe you can help me out?

This is a screenshot of what I get when opening Form Submissions:
![screenshot 2019-01-03 at 10 40 48](https://user-images.githubusercontent.com/18460795/50631335-31d8df00-0f44-11e9-8661-f9662d57c21c.png)

[2019-01-21 20:04] benface opened #39 "Use Craft 3.1's environmental settings feature for recaptchaSiteKey and recaptchaSecretKey"
I believe those two settings would be good candidates for Craft 3.1's environmental settings feature: https://docs.craftcms.com/v3/extend/environmental-settings.html

That would make it possible to use environment variables for them directly within the CP. It's possible right now by overriding the saved settings with a `config/contact-form-extensions.php` file, but that's causing issues with proje

[2019-02-05 14:47] #39 closed

[2019-02-05 14:49] #22 closed

[2019-02-05 14:49] Rias500 commented on #37
Hi @eybarra10,

Could you post the relevant error logs? Then I can have a better idea of what is happening

[2019-02-11 03:40] benface opened #41 "Make it work with reCAPTCHA v3"
It looks like the new reCAPTCHA v3 is invisible just like the "reCAPTCHA v2 Invisible", and it also provides a "site key" and a "secret key", but is it compatible?

[2019-02-11 09:09] Rias500 commented on #41
v3 requires a different implementation, so no it's not compatible currently

[2019-02-11 16:59] benface commented on #41
Ah ok, consider this a feature request then :) (And I'll look into making a PR when I have some time!)

[2019-02-12 09:35] sanscheese commented on #6
Hey, sorry, ended up shifting to serverless method to cover what I needed. If I start thinking of going down queue path again, will be in touch. Cheers.

[2019-02-17 20:43] chrislam commented on #37
I think I'm having the same issue, stacktrace as below:

[code]

[2019-02-22 12:41] Rias500 commented on #41
Added in 1.1.1

[2019-02-22 12:41] #41 closed

[2019-02-22 13:14] Michael-Reich opened #43 "Additional Fields in the Form Submission"
Is it possible to display additional Fields in the Form Submissions Tab?

[2019-02-22 17:39] benface opened #44 "reCAPTCHA v3: Add option to hide the badge"
That option is present when v2 is selected but not v3, even though it should be the same implementation (basically insert `<style>.grecaptcha-badge{display:none;!important}</style>` in the page) and [it seems it's allowed](https://developers.google.com/recaptcha/docs/faq) (no mention of v2 or v3 in the answer to "I'd like to hide the reCAPTCHA badge. What is allowed?")

Let me know if you'd be int

[2019-02-26 14:32] chrisrowe commented on #37
I'm also seeing this, `?p=admin/actions/element-indexes/get-elements` returns a 500, "Bad Request
Request must accept JSON in response"

[2019-03-11 08:12] loveevelyn commented on #37
Same issue. I had to manually delete the entry from the database:

[code]

[2019-03-11 16:55] adamhenretty opened #45 "reCAPTCHA enabled stops all submissions from saving in the cms"
Hello,
With google reCAPTCHA v3 enabled, no form submissions are saving in the CMS, but the email notifications are still being sent. When reCAPTCHA is disabled submissions are again being saved in the CMS. Any ideas as to why this might be happening?

[2019-03-13 14:25] linotex opened #46 "Variable "suggestions" does not exist."
Hi! After update to 1.1.1, when I try open Setting plugin section (/admin/settings/plugins/contact-form-extensions), I get error **Variable "suggestions" does not exist.**.
Craft CMS 3.1.3
Contact From 2.2.3

I attached full stacktrace, perhaps it helps. Can you help me?

`Twig_Error_Runtime: Variable "suggestions" does not exist. in /var/www/craft/vendor/craftcms/cms/src/templates/_includes/forms

[2019-03-14 11:40] linotex commented on #46
Hmm, I removed plugin, restore dabase, install plugin and update dependencies. Now it works. I think is problem not relevant

[2019-03-14 11:40] #46 closed

[2019-03-19 12:49] #45 closed

[2019-03-28 01:08] syntacticsuga opened #47 "Duplicate fields on submissions for From Email and From Name"
I see "From Email" and "From Name" twice despite having only two inputs for those fields.

[2019-03-29 09:32] helderdb opened #48 "Confirmation sent from wrong address"
In this line:
https://github.com/Rias500/craft-contact-form-extensions/blob/b998d30f90db48e3e7ab8f9c193ed1ecdb60b966/src/ContactFormExtensions.php#L161

It sets the from mail address to the to mail address of the previous message...

Shouldn't this be getFrom() ?

[2019-03-29 09:46] helderdb commented on #48
Using V1.1.1

I'm using this for a contact form. I want to send a notification to the mail configured in the Contact Form plugin, and send a confirmation to the mailaddress filled in. But the mailaddress configured in Mail settings is a noreply, and the mailaddress receiving the notifications is another mail address, resulting in:

Error sending email: Expected response code 250 but got code "554"

[2019-03-29 10:17] helderdb commented on #48
Created PR: #49

[2019-03-29 12:14] kevinmu17 commented on #48
I can confirm that getTo is not working and getFrom does.

[2019-03-29 12:32] helderdb commented on #48
@kevinmu17 I also found another situation where the getFrom is incorrect. I’ll edit my pr with a better solution.

[2019-04-01 11:27] Rias500 commented on #48
Should be fixed in 1.1.2

[2019-04-01 11:27] #48 closed

[2019-04-01 11:27] Rias500 commented on #44
Added in 1.1.2

[2019-04-01 11:27] #44 closed

[2019-04-09 16:27] loshose commented on #37
Yes, same issue even with the latest version:

[code]

What needs to be deleted from the database?

[2019-04-10 09:21] Moskydesign opened #52 "Installing with console throws exception"
When installing the plug-in via console/command line an exception is throw because a notice is set on the session in the plug-in install event.

This causes issues for example when [using a project.yml](https://github.com/craftcms/cms/issues/4113) file when setting up a new project.

The question is if this check is really necessary on install? If this is the case at least a check should be done i

[2019-04-10 15:22] RandomJo commented on #37
I'm having the same issue as well. Here are the contents of the bad message in case that's helpful:
`{"Phone":"86368423495","Preferred":"email","body":"\u043f\u0440\u043e\u0434\u0432\u0438\u0436\u0435\u043d\u0438\u0435 \u0441\u0430\u0439\u0442\u0430 \u043a\u043b\u044e\u0447\u0435\u0432\u044b\u043c \r\n\u0441\u0435\u043e \u043f\u0440\u043e\u0434\u0432\u0438\u0436\u0435\u043d\u0438\u0435 \u0441\u043

[2019-04-10 15:24] RandomJo commented on #37
I noticed there was a similar issue with Craft CMS itself, so maybe this will help with a fix:
https://github.com/craftcms/cms/commit/4fae8b91fe7e81144ac1971c0acd486b0a20eead

[2019-04-10 15:59] Rias500 commented on #37
Thanks for the updates everyone, I’ll take a look as soon as I can

[2019-04-12 14:22] MattWilcox commented on #37
Same issue here, took me a while to find this thread! I can't make head nor tail of these new Craft3 error logs; floods of information almost impossible to decipher afaikt.

[2019-04-15 14:11] Rias500 commented on #37
Thanks everyone for the logs, this is finally fixed in 1.1.5

[2019-04-15 14:11] #37 closed

[2019-04-15 14:14] Rias500 commented on #52
If you're talking about the notice that the Contact form plugin is not installed, this only gets triggered when it's not a console request:

[code]

Is there a different notice you're talking about?

[2019-04-15 14:15] Rias500 commented on #43
Which fields would you want to display? Currently every field that's defined in the `message[]` array gets displayed there.

[2019-04-16 07:19] Moskydesign commented on #52
That's the one, but I see you've updated the code already.

[2019-04-16 07:19] #52 closed

[2019-04-20 16:06] knynkwl opened #54 "array_key_exists() expects parameter 2 to be array, string given"
Getting this error with the default form that the contact form provide on the documentation: https://github.com/craftcms/contact-form#usage

It's highlighting this to be the cause:
[code]

Craft CMS 3.1.19
Contact Form 2.2.3
Contact Form Extensions 1.1.5

[2019-04-29 14:33] billythekid commented on #33
@jamie-jenks I eventually got this to work by removing the
 `{{ craft.contactFormExtensions.recaptcha | raw }}`
line from my template completely, including the recaptcha api script myself and changing my form's button to
`<input type="button" class="g-recaptcha btn" data-sitekey="MY_RECAPTCHA_SITE_KEY" data-callback='onContactFormSubmit' value="Send Message">`

then adding the `onContactFormSubmit

[2019-04-29 19:54] benface opened #58 "[Feature Request] Save submissions that are suspected to be spam"
I think a client is losing some messages because reCAPTCHA marks them as spam for some reason. While I'm trying to figure out why that is and how to improve it, it would be great if submissions that were suspected to be spam by reCAPTCHA were still saved in the database (not necessarily sent by email) but accessible in a different view or something, like a "Junk" folder. Perhaps it could be a sett

[2019-05-02 15:04] piotrpog opened #59 "Pass fields labels trough translation filter in control panel"
Sometimes fields `name` values are not human readable. I propse that they should be passed trought `|t` filter to give developers ability to trsbalate them.

So, in `_templates/submissions/_show.twig` would have this:
[code]
To avoid accidentally matching some already existing translation strings, some prefix could be added:
[code]

[2019-05-02 21:41] jorisje96 opened #60 "Confirmation override not working"
When I set the confirmation template in cp it works like a charm, but when I want to override it for a specific form with:
`<input type="hidden" name="message[template]" value="{{ 'contact'|hash }}"> `
It still sends a confirmation email with the template given in the cp, and ignores the code above.

My email templates are in /templates/_emails/...

[2019-05-06 10:36] shoored opened #61 "Override both notification and confirmation templates"
Is it possible to override both the notification and confirmation with a hidden field? That way we can setup different forms with different email templates.

This may be related in a way, having the same issue #60

[2019-05-06 11:43] Pinchcliffe commented on #60
Experiencing the same issue. Do you have a quick workaround for this one?

[2019-05-08 07:35] Rias500 commented on #60
Do you have the `enableConfirmationEmail` setting turned on?

[2019-05-08 07:38] Rias500 commented on #59
I'll gladly accept a PR that changes this!

I don't like a prefix as then you're required to translate them. I'd just use `|t('contact-form-extensions')` which will then allow people to translate it using the contact form translations file

[2019-05-08 07:39] Rias500 commented on #54
Fixed in 1.1.6

[2019-05-08 07:39] #54 closed

[2019-05-08 07:40] #43 closed

[2019-05-08 07:40] Rias500 commented on #43
I've closed this for now, please reopen if you have more information and the issue is still relevant

[2019-05-08 07:40] Rias500 commented on #47
I've closed this issue for now, please reopen when you have more information and the issue is still relevant.

[2019-05-08 07:40] #47 closed

[2019-05-08 07:43] Pinchcliffe commented on #60
It's on. But I guess it works now, since I had to update the plugin (?).

[2019-05-08 08:32] jorisje96 commented on #60
Yes the setting is enabled.

@pinchcliffe what or how did you update?

[2019-05-08 08:34] Pinchcliffe commented on #60
I was at version 1.0.11, but then I ran some updates and for me it works at 1.1.5

[2019-05-08 08:35] jorisje96 commented on #60
Mine is on 1.0.13

[2019-05-10 08:19] boboldehampsink opened #63 "ReCaptcha not working anymore"
Recaptcha implementation stopped working all of a sudden. I generated new keys but no luck. I get a succes: true return from contact form but no mail is actually sent

[2019-05-13 08:12] boboldehampsink commented on #63
Looks like some google settings changed

[2019-05-13 08:12] #63 closed

[2019-05-14 11:42] mangya opened #64 "Additional Fields in the Form Submission"
I have some extra fields to be stored in my contact form. For example contact no. and city. Can I modify the plugin to save these fields too in the database and to be shown in the control panel?

[2019-05-14 13:32] miro94 opened #65 "Dynamic Subject for the confirmation mail"
Is it possible to define a dynamic subject for the confirmation (like the subject for the notification mail through the hidden "subject" form field or through insert a submission variable in the form settings (field Confirmation Subject)). For me, this is the only issue for using the plugin for multiple forms. Thanks.

[2019-05-14 19:21] riasvdv commented on #65
The default contact form already offers this functionality, this is by extension also support in this one, see https://github.com/craftcms/contact-form#usage

[code]

[2019-05-14 19:21] riasvdv commented on #64
See https://github.com/craftcms/contact-form#adding-additional-fields

[2019-05-14 19:21] #64 closed

[2019-05-15 05:56] mangya commented on #64
Thank you @riasvdv

[2019-05-15 07:11] miro94 commented on #65
Thanks for your answer.
In my opinion, this subject which can be defined with the default plugin is for the notification mail, but not for the confirmation mail (as this functionality is only added with your plugin).
Any way to define the following setting through the template or by inserting a submission variable in the following field?
![form](https://user-images.githubusercontent.com/19932813/5

[2019-05-15 07:18] riasvdv commented on #65
Ah this isn't possible (yet) to set dynamically

[2019-05-27 09:52] eddiedale commented on #63
I had the same issue.

If anyone wonder about this one, it seems like the V2 invisible captcha doesn't work anymore after googles change. V3 on the other hand works perfectly (and seems like a better solution anyway)

[2019-06-04 03:04] jmcgaha opened #66 "Error on Submission when devMode is true"
I am getting an error every time I submit the form for "Variable entry does not exist".
This error goes away if I disable this plugin or if I turn devMode to false. We've kept using the plugin since devMode is always off on production, it just is a little annoying in our local environments.

I've currently tested it on multiple sites with Craft 3.1.28.

[2019-06-11 10:00] kaspar-allenbach commented on #27
But this will throw a error when the field is empty.

`Key "phone" for array with keys "fieldx, fieldy, field z" does not exist.`

[2019-06-11 10:06] kaspar-allenbach commented on #27
Ah I figured it out:
[code]

[2019-06-11 10:11] kaspar-allenbach opened #67 "dateCreated not working in E-Mail Template"
When I call `{{ submission.dateCreated|date('d-m-Y H:i') }}` in the E-Mail template it doesnt work:

What is the syntax here?

[2019-06-21 09:55] juban opened #68 "nesbot/carbon v1 deprecation warning"
Hi,

For a future release, `albertcht/invisible-recaptcha` dependency should be updated to version ^1.9 to prevent the `nesbot/carbon` version 1 deprecation warning.
Not sure about the possible sides effects though.

Thx.

[2019-07-08 15:53] jarnethorrez commented on #22
Had the same.

[2019-07-10 07:42] riasvdv commented on #67
Craft contact form (https://github.com/craftcms/contact-form) does not have a `$dateCreated` property. Since the email gets sent when the submission is created, can't you just use `{{ now }}`?

[2019-07-10 07:43] riasvdv commented on #66
Could you post the full stacktrace you're getting?

[2019-07-10 07:43] riasvdv commented on #60
If it's not fixed by updating, please reopen

[2019-07-10 07:43] #60 closed

[2019-07-10 09:33] kaspar-allenbach commented on #67
yep. that should work as well. THank you

[2019-07-10 09:33] #67 closed

[2019-07-11 12:37] kaspar-allenbach commented on #27
Nope. it doesnt work

[2019-07-11 12:38] riasvdv commented on #27
You can use https://twig.symfony.com/doc/2.x/tests/defined.html to check if it is defined

[2019-07-11 12:43] kaspar-allenbach commented on #27
Now that was quick. I tried `is defined` but I got the rest of the syntax wrong.
So for the sake of completion: If you want to display a additional field in the email template:

{% if submission['message']['phone'] is defined %}
  Tel: {{ submission['message']['phone'] }}</p>
{% else %}
    Tel: Nope. The user has not provided a phone number.
{% endif %}

[2019-07-16 16:04] amityweb commented on #65
Do you have any workarounds? We have a multi language site, we need our emails to users to go in the language for the site is on. We created a global for us to set an email Subject per site, but I cant see how to get it in there. We cant send users in for example France, an email with an English subject for example. So its quote necessary for multi language.
Thanks

[2019-07-22 20:09] JayBox325 commented on #68
Seconded. Discovered this issue today. An update would be great! Thanks

[2019-07-31 12:47] pimago opened #70 "Recaptcha prevents sending mails"
I have an issue when I enable Recaptcha V3. Everything else is disabled.
When Recaptcha is enabled no email is sent, but I am still being redirected to my thank you page.

I found this in my log
2019-07-31 14:45:32 [-][1][-][warning][craft\contactform\Mailer::send] Contact form submission suspected to be spam.

I tried reinstalling the plugin. What else can I try?

Craft 3.2.6
Extensions 1.1.6

[2019-08-01 12:36] #70 closed

[2019-08-05 21:17] sam327 opened #71 "Expired invisible recaptcha doesn't have an error"
I've got a contact page with a basic from on it. And I've got the recaptcha enabled. If I leave the page to sit for a while (10 min or more), the recaptcha validation seems to expire. The user submits their form and gets to the thank you page.

However, no email is generated and no entry is saved in the submissions in the admin panel.

I can reproduce this on a few different sites. And it's always

[2019-08-06 13:13] MattWilcox commented on #13
I've been trying to make a simple Twig file so I can do this, but I can't seem to read the custom fields that are stored in Message...

{% for submission in craft.contactFormExtensions.submissions %} {{ submission.message.myField }}{% endfor %}

Doesn't seem to work. The entire Message field is a JSON object, and I can't seem to use it.

[2019-08-06 13:26] MattWilcox commented on #13
Update:

As a work-around for now, you can create a template such as "exported.twig", install the Json'd plugin, and use something like:

`{% header "Content-Type: text/csv" %}`
`Date Created,Email,MyCustomField`
`{% for submission in craft.contactFormExtensions.submissions %}`
`  {% set fields = submission.message | json_decoded %}`
`  {{ submission.dateCreated|date('d-m-Y H:i') }},`
`  {{ submis

[2019-08-07 06:54] bertheyman commented on #63
Was this fixed, or should people go with V3 now?

[2019-08-08 21:12] janklan opened #72 "Confirmation message fails when System E-mail address is an environmental variable"
I'm not big on plugin development, but I suspect this plugin isn't resolving Craft's configuration values when sending the Confirmation email (Notification email works fine).

**How to reproduce:**

1. Go to Settings > Email and set your Sender E-mail Address to $EMAIL
2. Update your environment so that $EMAIL contains a valid e-mail address
3. Enable Contact Form Extensions' "Confirmation" email

[2019-08-09 06:57] riasvdv commented on #72
Merged and released in 1.1.7! Thanks for your help

[2019-08-09 06:57] #72 closed

[2019-08-09 07:02] riasvdv commented on #71
We could handle ReCaptcha errors in a better way, by checking the `error-codes` in the [response](https://github.com/riasvdv/craft-contact-form-extensions/blob/master/src/models/RecaptchaV3.php#L63)

This is the error code reference:

error-code | description
-- | --
missing-input-secret | The secret parameter is missing.
invalid-input-secret | The secret parameter is invalid or malformed.
missing

[2019-08-09 07:06] riasvdv commented on #68
A fresh `composer require rias/craft-contact-form-extensions` installs the new version of Carbon already

If you're getting this warning it could be from a different package, or you need to run `composer update`

[2019-08-09 07:06] #68 closed

[2019-08-14 09:45] MattWilcox opened #76 "Support sending confirmation to multiple email addresses"
EDIT: my mistake, please ignore.

[2019-08-14 09:49] #76 closed

[2019-08-23 10:09] xavierdemoor opened #77 "Overwrite PlainText template"
Hi,

It seems that the PlainText template is still the craftcms/contact-form default template.
Is it possible to overwrite this one too ?

Thank you

[2019-08-30 15:02] amityweb opened #78 "Second form on page does not send"
If we put two forms on the same page, and even duplicate the first form so its identical, the second form does not send an email.

Maybe its ReCaptcha related because the $request contains the ReCaptcha response for the first form, but when I dump the $request from the second form the ReCaptcha response is empty.

The system says its sent though in our flash message. We save entries to the databas

[2019-08-30 15:27] amityweb commented on #78
I have got this working by modifying your plugin allowing me to pass an ID which is appended to the recaptcha hidden field ID:

File models/ReCaptchaV3.php
[code]

File variables ContactFormExtensionsVariable.php

[code]

Then in my template I can add two forms like this:
[code]

I am a bit concerned about the Success message showing when there was no recaptcha validation sent with it though. I am

[2019-09-05 14:11] Vixtrime opened #79 "DateCreated sort options disabled"
![image](https://user-images.githubusercontent.com/32037347/64349924-77343b80-d000-11e9-804d-83d71f77dc90.png)

Is there reasons to unsetting dateCreated sort option?

[2019-09-06 07:39] riasvdv commented on #79
It's been there since the beginning so I don't exactly remember why, does everything still work when you comment the `unset` line?

[2019-09-09 16:50] #65 closed

[2019-09-09 17:43] amityweb commented on #78
Oh darn... I went and updated your plugin and its wiped this out :( . Need a fix before the next update.

[2019-09-10 07:07] Vixtrime commented on #79
Yes, all works fine with `dateCreated` filter

[2019-09-10 08:08] riasvdv commented on #78
If you need a fix this urgently I suggest you PR one yourself, this plugin is maintained for free in my spare time.

I'll take a look at it as soon as I can

[2019-09-10 08:09] riasvdv commented on #79
Okay, then I guess we can just add it again, I'll do it as soon as I can

[2019-09-10 08:10] riasvdv commented on #66
Closing this, you can reopen this if you're still having issues

[2019-09-10 08:10] #66 closed

[2019-09-10 08:20] amityweb commented on #78
Sure, but in my opinion it’s not really a PR but a problem with the plugin as it doesn’t work with more than one form.

[2019-09-10 08:25] riasvdv commented on #78
A PR is a Pull Request, to make changes to the code, this can be to add a feature but also to fix a bug.

The plugin works with multiple forms, the only thing that doesn't work is multiple recaptchas.

If you create a PR with your code changes, all I need to do is review them, merge them and tag a release. Something I can do during a lunch break.

But you can also wait until I have the time to pul

[2019-09-10 08:52] amityweb commented on #78
Oh yes of course it is, silly me... for some reason I interpreted it as a "personal request" (and so paid for) because you mention about you doing it free. Doh!

I sometimes dont like doing pull requests though as my code may not be the best, and often prefer to leave it up to the developers, but I let them know of issues and solutions.

If you can modify code in a PR if you prefer to do it differ

[2019-09-10 08:58] riasvdv commented on #78
It's easy to give feedback in a PR, and I can also make changes on it, so that's the best way to go

[2019-09-13 18:59] amityweb commented on #71
I believe the problem is Contact Form returns success and the successFlashMessage even if its spam. Your using $e->isSpam = true; if its spam, same as in Craft Contact Form, unfortunately it looks like this does not return an error, so successFlashMessage still gets sent, and everyone thinks their email is sent.

We stopped using the ReCaptcha because of this, we have less enquiries with it on, I

[2019-09-13 19:01] amityweb opened #80 "isSpam submissions still being saved in the Form Submissions"
We are using the honeypot plugin by Craft and if the honeypot field is filled in, and so its spam and no email is sent, the data is still being saved into Form Submissions.

It is my opinion if its isSpam then it should not be saved into Form Submissions, OR better yet, save it in a separate Spam submissions so we are able to check occasionally for false spam identification.

[2019-09-18 08:11] bliswebagency opened #81 "Uncaught ReferenceError: grecaptcha is not defined"
Hello, we recently encountered the following javascript error below on 1.1.7 of the plugin, using recaptcha V3.

[code]

We've created a temporary fix by wrapping the grecaptcha.ready(..) function call inside a setTimeout, but it would be appreciated to have a cleaner and official fix if possible.

It was working previously so we're not 100% sure what might have changed between our initial testing

[2019-09-26 20:13] benface opened #82 "Latest version on the plugin store?"
It seems version 1.2.0 is not available on the plugin store, which says the latest version is 1.1.7 (and it also doesn't list any changes for 1.1.7): https://plugins.craftcms.com/contact-form-extensions

[2019-10-02 07:09] riasvdv commented on #82
This should be fixed now

[2019-10-02 07:09] #82 closed

[2019-10-02 16:45] amityweb commented on #78
I wont be providing a PR as we are not using your ReCaptcha anymore. Craft shows a success message even when Google identify it as spam. So we are losing real sales. Craft have told me they wont change this which is really bizarre, no other system I use does this, they normally show errors the message was not sent.

So we have had to use a different v2 challenge ReCaptcha plugin due to yours being

[2019-10-18 18:04] brunicolas opened #83 "Email not sent with Craft 3.3.11 and CFE 1.2.0"
We are facing a major bug with CFE (and CF 2.2.5) on Craft Pro 3.3.11 : CFE is perfectly working (forms, templates, etc. including saving submissions in the database) **BUT emails are actually not sent.**
After multiple tests, I can confirm this bug is only related to CFE on Craft 3.3.11 : emails are well sent (through regular Contact Form plugin) just by deactivating the CFE plugin. All parameter

[2019-10-18 18:13] riasvdv commented on #83
Are the submissions saved to the database? Just the email that isn’t sent?

You can always debug and send a pull request with a fix if it’s critical and you need it ASAP, if you can’t or won’t do that then you’ll have to wait until I find some time to fix it, I maintain this plugin on my own without any help in my free time.

[2019-10-18 18:28] brunicolas commented on #83
Submissions are well saved to the database, just emails are not sent.
Understood about fixing the issue and you maintaining on your free time, but we’ll certainly not have immediate resources/time to fix this until a certain time.
If it can help fix it faster, we can send you a small donation in order to help you maintaining your great plugin for Craft :)

[2019-10-19 03:17] moondawg69 opened #84 "Templating for non standard fields in custom notification emails"
Any documentation or guidance on the following at all?

Checkboxes, but I think this would be helpful for selects, radios etc.

Example form:

[code]

Example email template (not working):

[code]

Any guidance would be gratefully received.

[2019-10-25 13:40] MarkOlijslagers commented on #83
Here almost the same issue with Craft CMS 3.3.13 and CFE 1.2.0
With the difference that also the data isn't stored in the database.
This occurs completely randomly. When i fill in the same form with exactly the same input data, sometimes de date was saved and a confirmation mail is send, sometimes not.

[2019-10-28 14:35] MarkOlijslagers commented on #83
For me, this problem is resolved after long time debugging.
Not CFE was the problem, but the Contact form Honeypot plugin which was also installed, did set the 'isSpam'-flag.
The reason why the Honeypot plugin marked is as spam, was because the hidden honeypot field was auto-filled-in for some users by Google Chrome's autofill option...

After deinstalling the Honeypot plugin, this error was resol

[2019-11-05 10:41] brunicolas commented on #83
For us, the issue is not linked with Honeypot plugin, as we didn't install it (ever).
I will test with latest updated of Craft, if anything changes...

[2019-11-15 18:12] brunicolas commented on #83
**I can confirm you the issue is only coming from the use of "message[toEmail]" field** : when using the Contact Form recipients field instead ("toEmail" only, see here https://github.com/craftcms/contact-form#dynamically-adding-email-recipients), the emails are well sent.
So there's is something about the "message[toEmail]" field in CFE.
_Tested on Craft Pro 3.3.15 and CFE 1.2.0._

[2019-11-18 20:16] chadspencer commented on #83
I am experiencing this same issue, also with Craft Pro 3.3.15 and CFE 1.2.0. My issue is also occurring in isolation from the honeypot feature. @riasvdv Do you have any thoughts or suggestions on what might be the issue?

[2019-11-19 09:13] riasvdv commented on #83
Can you try setting the craftcms/contact-form dependency explicitly to 2.2.4 and see if it works then?

I have a hunch it might have to do something with the new release that supports ENV parsing for the toEmail field on their end.

[2019-11-20 21:16] chadspencer commented on #83
Thanks @riasvdv. That solution did not work but after further digging I was able to solve my issue. It was unrelated to the CFE plugin.

[2019-11-21 08:58] shgzon opened #85 "Ajax Call with valid reCAPTCHA"
Hi everyone,

Me and my colleagues are looking for a good way to get a form spam free with the https://github.com/craftcms/contact-form and this contact-form-extension.

Currently, we've tried using the reCAPTCHA v3. It seemed to be working properly. But while monitoring all spam coming in. We saw that this was not correct! The spam filter was sometimes marking mails to be spam unfairly. Because t

[2019-12-06 15:59] SayChi opened #87 "Dynamic fields settings page"
When toggling "Send confirmation email" or "Overwrite the e-mail template" in the settings page the corresponding fields hide/show, which is great. But if these switches are already off when the settings page is loaded the corresponding fields show by default (which they shouldn't, and toggling the switches off and on 'fixes' it).

I realise this is a small nitpicking issue, but it would be nice i

[2019-12-31 09:48] AlpeshSaaathiva commented on #70
I have the same issue with contact form Extensions
Any solutions?

[2020-01-06 19:48] Thamasky opened #88 "Scripts not loaded in correct order IE11"
Hi,

The contact form fails to submit & send an e-mail because the scripts aren't processed in the correct order. You can fix this by using the onload parameter to call your function.

My workaround was the following:

I pasted the following snippet at the bottom of my layout file:
[code]

And then in my form I still have to paste the following divs:

[code]

I hope this helps you to update the pl

[2020-01-07 10:07] cliveportman opened #90 "Add ReCaptcha score column to submissions table"
Maybe only a nice to have, but something one of my clients asked for and I quite like the idea. If I get chance, I'll have a go.

[2020-01-10 21:58] michellekb commented on #66
Same problem.

`Twig\Error\RuntimeError: Variable "entry" does not exist. in /Users/me/Sites/mysite/templates/index.html:28
Stack trace:
#0 /Users/me/Sites/mysite/storage/runtime/compiled_templates/14/1475277610b83164759722f8ed07f3d3f2f192c3f5bc63eba87152d1c3446cfa.php(90): __TwigTemplate_8d3f5dbdfa69d403f8db06679227faadc43e307fd96e2357aacdbe8de22cf082->{closure}()
#1 /Users/me/Sites/mysite/vendor

[2020-01-21 07:54] shgzon opened #92 "Send confirmation mail except for one of the forms"
Hi everyone,

Is there a way to disable the "confirmation" e-mail for one of my Contact Forms if I have multiple?

What do I have to set as value in:
`<input type="hidden" name="message[template]" value="">`

Thanks in advance.

[2020-01-21 07:58] shgzon commented on #85
We found out there is an ideal validation + spam filter plug-in. I would recommend.
- Works with all forms that have a POST method.
- Not much configuration needed.
- Logging of errors
- Good documentation
- Affordable

Snaptcha:
https://github.com/putyourlightson/craft-snaptcha

I will be closing this, as I found my own solution!

[2020-01-21 07:58] #85 closed

[2020-02-03 15:32] piotrpog opened #93 "Not all submissions are returned from database"
For some easons, not all submissions are shown in control panel. Same with using `craft.contactFormExtensions.submissions` in template. Yet they exist in database.

If you want, i can send you `contactform_submissions` table dump using email.

[2020-02-14 03:38] RandomJo commented on #88
We're experiencing this issue as well with IE 11. We're on Contact Form Extensions version 1.2.0.

[2020-06-15 11:51] cole007 opened #94 "Choose to save submissions on a per-form basis [enhancement]"
Would be nice if a flag could be sent as part of the form submission to opt-out of saving submissions for specific forms. For example we have several forms on the site which we want to keep records of (eg contact us) but some that we really don't (eg that contain more personal data).

[2020-06-17 21:51] DynamiteGoesBoom opened #95 "Testing out slack notifications"
This is just to test out slack notifications 👍

[2020-06-17 21:51] DynamiteGoesBoom commented on #95
Confirmed this works 💪

[2020-06-17 21:51] #95 closed

[2020-06-20 17:01] Friksel opened #96 "Feature Request: localize Confirmation Subject"
First of all, thanks for this plugin! It's great to be able to use templates now for our emails!

It would be nice if we could translate the Confirmation Subject line from inside the control panel on multi language sites. I understand we could add an invisible field on the form to do this, but the control panel way is a much more convenient and perhaps safer way of doing it IMHO and could also be

[2020-06-21 12:09] bertoost opened #97 "Ability to compose the fromName field based on other fields"
Hi!

First of all; great addition to the contact form plugin. I was looking for a way to override the mail template and this is just great. Even more options.

Therefore, I would like to have the ability to "compose" the fromName based on other fields in the form. Like I have a firstName and lastName field in my form and it would be nice if I can set a composed value like `{{ message[firstName] }}

[2020-07-01 09:14] sunnok opened #98 "Cannot override the form name"
Hi!

I am trying to override the form name, since I have multiple forms and it would be nice to see the Submissions separated to get a clearer view in the Control Panel.

I have used the following hidden input field"
`<input type="hidden" name="message[formName]" value="interviewForm">`

However the submissions are still all going under the default _contact_ form. I have also checked the network r

[2020-07-15 13:17] mijewe opened #100 "Can the recaptcha script be defer / async?"
Google PageSpeed is complaining about recaptcha__en.js blocking the thread.

Is it possible for this script to be deferred?

[2020-07-23 00:18] DynamiteGoesBoom commented on #88
@Thamasky / @RandomJo  What version of the Recaptcha API are you using? Are you using v2 or v2?

[2020-07-23 01:37] RandomJo commented on #88
@DynamiteGoesBoom I tried v2 and v3. Both behaved the same in IE 11.

[2020-08-18 15:16] DynamiteGoesBoom commented on #93
@piotrpog thanks for submitting this and yes, if you could send us a Database dump to hi@hybridinteractive.io that would be terrific!

[2020-08-28 12:39] jzador opened #102 "contact form"

[2020-08-28 16:21] DynamiteGoesBoom commented on #102
Closing this issue as no details were posted.

[2020-08-28 16:21] #102 closed

[2020-09-01 18:20] lhs-dev commented on #90
A column indicating whether a submission is spam or not would be nice as well (for users the the honeypot plugin or reCaptcha v2).

[2020-09-05 18:33] Slowwie opened #106 "Adding custom fields to the email as well as to the Form Submissions"
I have an contact form running and I just want to add a toggle select for them to agree on sending them a newsletter.

Is there a way to also save this custom field into the form submission panel?

Or do I just write my own module or plugin to save the newsletter subscriptions?

[2020-09-24 15:46] rosskenney commented on #88
@Thamasky / @RandomJo
I have been testing this out today and have found it to be working each time. Is there more info such as what OS is being used that you could provide. If you have example links to forms not working that would be helpful also to see how everything is setup. I am using the form with AJAX and jQuery for the ie support currently.

[2020-10-22 10:32] sunscreem opened #107 "Feature Request: Show subject line in control panel view of form submissions."
At present, you can only see the subject line of captured form submissions on the `admin/contact-form-extensions` page.

Clicking through to get the full details of a submission doesn't show the subject line. This would be really handy to have that showing.

[2020-10-22 11:01] mijewe opened #108 "Feature request: Enable Recaptcha on a per-form basis"
I have a form on my site where submissions are often flagged as spam by Recaptcha.

It would be good if I could opt-in to enabling Recaptcha per form, by simply not including the `craft.contactFormExtensions.recaptcha` tag where I don't want it.

Currently, if I don't include the tag, all submissions get flagged as spam.

[2020-10-22 21:50] DynamiteGoesBoom commented on #107
@sunscreem great idea and thanks for the suggestion. We'll look into this for a future release!

[2020-10-22 22:34] DynamiteGoesBoom commented on #107
@sunscreem Did you enable the Subject line in the Settings panel here?

![Screen Shot 2020-10-22 at 4 32 19 PM](https://user-images.githubusercontent.com/39201467/96936945-4ae9b180-1484-11eb-8fbb-3e8619a65d64.png)

You can get to that window by clicking the Gear icon under your list of forms:

![Screen Shot 2020-10-22 at 4 33 28 PM](https://user-images.githubusercontent.com/39201467/96936992-6654b

[2020-10-23 08:42] sunscreem commented on #107
Hey @DynamiteGoesBoom,

That's all ticked and is working correctly.

The problem is when you click through to the actual form submission details. 👍

[2020-10-23 19:19] DynamiteGoesBoom commented on #107
@sunscreem Ahh right, thanks for that. We'll get this updated soon.

Thanks for submitting this issue 👍

[2020-10-23 19:25] DynamiteGoesBoom commented on #107
Prepping a 1.2.3 release for this update.

[2020-10-23 19:25] #107 closed

[2020-10-23 19:35] DynamiteGoesBoom commented on #106
@Slowwie Yeah if you want to extend the fields then you'd need to write your own extension for something like this, due to the plugins simplistic approach 👍

[2020-10-23 19:35] #106 closed

[2020-10-23 19:38] DynamiteGoesBoom commented on #88
Due to virtually _everyone_ not supporting IE11, there's nothing more than we can do here. We would likely consider a PR for this, but with the dwindling number of IE11 users, it's simply not worth the effort.

[2020-10-23 19:38] #88 closed

[2020-10-23 19:42] DynamiteGoesBoom commented on #87
@SayChi goof catch. It looks like the Lightswitch states went awry.

Thanks for the heads up!

[2020-10-23 20:45] #87 closed

[2020-10-23 20:46] DynamiteGoesBoom commented on #93
Closing due to inactivity. Could not reproduce.

[2020-10-23 20:46] #93 closed

[2020-10-26 21:29] sunscreem commented on #107
@DynamiteGoesBoom Just to say thanks for sorting that. Works a treat.

[2020-10-26 21:31] DynamiteGoesBoom commented on #107
@sunscreem Happy to hear that got you sorted out 👍

[2020-11-09 16:49] jamiematrix commented on #82
Is there a minimum Craft version required? I have a site on 3.0.41.1 and can only see CFE 1.0.13 via the plugin store.

[2020-12-28 10:20] ursbraem opened #111 "Enhancement: require template overwrite path if enabled."
I ran into having set "Overwrite email template" to true but not having specified a path.

<img width="588" alt="grafik" src="https://user-images.githubusercontent.com/1446443/103207212-13710880-48fe-11eb-8e31-16a5db73104c.png">

Contact-Form-Extensions would then just call the site's homepage and send me a copy of that.

That error could be prevented by either require `notificationTemplate` if `e

[2020-12-28 17:38] OldRustyDayton opened #112 "Emails No Longer Sending From Production but do from local"
Hello - I recently set up this extension on my local Mamp Pro server and my Hyperlane production server. Last week I successfully had everything hooked up and working on both local and production. However, this week I am unable to get production to send email notifications/confirmations. I have made 0 code commits since it was working. The orders still go to the database but no email is sent. Any

[2020-12-28 19:49] DynamiteGoesBoom commented on #112
@OldRustyDayton Most users use a service like MailGun to handle the email sending notifications. You can also use PHPMail or SendMail directly on the server itself. But due to those services being unreliable, you're much better off using a third party email service like Mail Gun.

[2020-12-28 19:54] LifeByStorm commented on #112
Maybe I am misunderstanding...Isn't the whole point of the extension, Contact Form Extensions, to offer email notifications and store the orders to the Craft database?

[2020-12-28 19:58] DynamiteGoesBoom commented on #112
@LifeByStorm that is _somewhat_ the point yes. This plugin is designed to allow users to log emails into the database. However it is not responsible for sending emails out. That part is up to the user. You can easily setup MailGun (or another SMTP) service to handle this though. That's what we, and countless other users, have done in the past.

[2020-12-28 19:59] LifeByStorm commented on #112
Okay thank you for taking the time and clearing that up for me!

[2020-12-28 20:01] DynamiteGoesBoom commented on #112
@LifeByStorm happy to help and best of luck! Feel free to hop in Craft's Discord Channel if you have questions or need help getting SMTP setup.

[2020-12-28 20:01] #112 closed

[2021-01-14 05:40] eeeeeeeeeve commented on #98
@sunnok - for your actual message, make sure you're using `name="message[body]"` and not just `name="message"`.

[2021-05-23 13:18] vhbelvadi opened #113 "Use of recaptcha.net instead of google.com"
Google allows this and it would be a good toggle for privacy-conscious websites or for use in places where google.com may not be available.

More info: [https://developers.google.com/recaptcha/docs/faq#can-i-use-recaptcha-globally](https://developers.google.com/recaptcha/docs/faq#can-i-use-recaptcha-globally)

[2021-05-25 14:17] laurabennett opened #114 "Array to string conversion"
Craft CMS 3.4.22.1
Contact Form 2.2.7
Contact Form Extensions 1.2.4

My form is made up of multiple fields.
I'm trying to output the message to an email template but it fails. Do I need to loop through submission.message?

[2021-05-25 14:22] laurabennett commented on #114
I was able to get all the responses... but now how do I get the question copy for each field?
{% if submission.message is defined %}
  {% for item in submission.message %}
    {{ item }}
  {% endfor %}
{% endif %}

[2021-05-25 14:33] laurabennett commented on #114
Figured it out... would be nice if this was added to the readme rather than buried in the code.

{% if submission.message is defined %}
  {% for key, value in submission.message %}
    {{ key }}:
    {% if value is iterable %}
        {% for item in value %}
            <p>{{ item|nl2br }}</p>
        {% endfor %}
    {% else %}
        <p>{{ value|nl2br }}</p>
    {% endif %}
  {% endfor %}
{% en

[2021-05-25 14:34] #114 closed

[2021-06-04 19:30] laurabennett commented on #98
Worked for me when I added the hidden field!

[2021-06-16 17:17] laurabennett commented on #13
@MattWilcox the work around is super helpful!

Is there a place I can put the file so that it will connect to the export button in the control panel?

[2021-06-28 16:13] elodiegrondin opened #115 "Static terms are not translated in the current language in custom submissions email template."
Hello,

I have a multisite in 3 languages with custom notification and confirmation template but the static terms are always translated in the default site language even if the form is submitted in other language.

I checked in the notification and confirmation template craft.app.language / currentSite.language are not returning the right site locale.

I got around the issue by setting the languag

[2021-06-29 09:38] elodiegrondin commented on #115
Okay I found why the static terms weren't translated and this is not an plugin issue, sorry...
See [Translate system messages when using custom html template](https://github.com/craftcms/cms/issues/5308)

[2021-06-29 09:38] #115 closed

[2021-07-14 01:56] DaveRayner opened #116 "Unable to install the updates due to a dependency conflict"
Hi all - love the plugin :)

On today's new project - I'm running into an error when attempting an install.

Craft 3.6.17
PHP 7.4.21

I have attached the full error - here's just the first one for reference:

--

Your requirements could not be resolved to an installable set of packages.

- illuminate/support[v5.0.0, ..., v5.0.33] require illuminate/contracts 5.0.* -> satisfiable by illuminate/cont

[2021-07-14 15:42] DynamiteGoesBoom commented on #116
@DaveRayner Thanks for reporting this and we'll look into this as soon as we can. PR's are welcomed as well.

[2021-07-16 18:00] MetaDevelopment opened #117 "Google reCAPTCHA (v3) token expires after 2 minutes, but not renewed in plugin"
According to the following page:
https://developers.google.com/recaptcha/docs/v3
the token expires after two minutes, but I don't find anything in the plugin that takes this into account. As far as I understand the token is created on page load and verified along with the form submission. This results in all submissions being flagged as spam if a user is active on a page for longer than 2 minutes

[2021-07-21 20:33] rosskenney commented on #116
@DaveRayner could you post your composer.json here as well?

[2021-07-21 20:51] DynamiteGoesBoom commented on #117
@MetaDevelopment Have you tried updating the `'recaptchaTimeout'        => 5,` value in your `configi/contact-form-extensions.php` file?

These are all of the options that you can override in that config file:

[code]

There's currently no way of changing that value based on the form itself, but hopefully that helps 👍

[2021-07-21 23:10] DaveRayner commented on #116
Sure thing:
[composer-txt.txt](https://github.com/hybridinteractive/craft-contact-form-extensions/files/6859216/composer-txt.txt)

[2021-07-22 08:16] michtio commented on #116
@DaveRayner I see your actual problem is the following:

[code]

Change

[code]

In your composer.json to:

[code]

Since you're actually using 7.4.21

That should fix it for you 👍🏻

[2021-07-22 08:59] MetaDevelopment commented on #117
@DynamiteGoesBoom Thanks for the reply and suggestion!

The 'recaptchaTimeout' value can also be set via the plugin's settings in the control panel. I thought that this setting applies to the amount of seconds after which the plugin will no longer wait for a response from Google, for example when the Google services are down. But I don't find any documentation about it, so I might be wrong.

Howev

[2021-07-22 23:27] DaveRayner commented on #116
Champion! Worked. Thanks mate.

[2021-07-22 23:27] #116 closed

[2021-07-23 14:20] rosskenney commented on #117
@MetaDevelopment let me look into this to see what it will take. Any suggestions or pull requests are welcome. Thanks!

[2021-07-23 15:15] MetaDevelopment commented on #117
@rosskenney I really don't know much about PHP-development, so I can't help there or with an actual pull request. However, as I understand from that Google page as well as the following guide:
https://code.tutsplus.com/tutorials/example-of-how-to-add-google-recaptcha-v3-to-a-php-form--cms-33752
The token needs to be generated via Javascript upon submission of the form. That's also how I fixed it i

[2021-07-23 15:21] rosskenney commented on #117
No worries on the php/plugin side. Thanks for those links. I'll have a look to see if we can refresh the token after the form is submitted to the plugin via AJAX.

[2021-08-03 08:22] payello commented on #94
I am interested in this. Anybody know of a workaround? Is there a way to store the settings in a PHP array as per `contact-form.php` in the contact form plugin?

[2021-08-03 13:20] rosskenney commented on #94
@payello  The contact-form.php doesn't allow for that, but I have been meaning to look into adding it to the options what come in on a per form basis. Would just need to check it when the form is submitted.

[2021-08-03 19:58] rosskenney commented on #117
@DynamiteGoesBoom does this not get satisfied by the PR we received?

[2021-08-03 20:00] DynamiteGoesBoom commented on #117
@rosskenney Oh yep, just didn't close it. I'll do that now and thanks for checking!

[2021-08-03 20:00] #117 closed

[2021-08-10 11:33] payello opened #119 "Can I change the email subject when changing the email template"
As the title suggests, is it possible to change the subject of the email as I have done with the email template.

I have tried various permutations of the below:

`<input type="hidden" name="message[subject]" value="{{ subjectStr|hash }} ">`

When I check for this value in my after_submission event class I can see that it is overriding but it is not affecting the email subject later.

Is this feat

[2021-08-10 13:27] rosskenney commented on #119
Let me review this @payello

[2021-08-10 14:30] payello commented on #119
I got some help on this, using the Mailer::EVENT_BEFORE_SEND event we explicitly set the $subject variable ie $submission->message['subject'] = Craft::$app->getSecurity()->hashData($subject);

It didn't seem to work before but this is working well so not a bug

[2021-08-10 14:30] #119 closed

[2021-08-10 14:30] rosskenney commented on #119
Ok great, thanks

[2021-08-12 23:36] hatchcurtis opened #120 "Composer errors when trying to upgrade from 1.2.4 to 1.2.5"
Here is the error I received when trying to upgrade the plugin from 1.2.4 to 1.2.5.

`Output:

Loading composer repositories with package information
Updating dependencies
Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - illuminate/support[v5.0.0, ..., v5.0.33] require illuminate/contracts 5.0.* -> satisfiable by illuminate/contracts[v5.0.0, v5.0.33] fr

[2021-08-13 23:28] DynamiteGoesBoom commented on #120
@hatchcurtis It sounds like you might be having the same issue as #116.

[2021-08-17 08:24] thunder87 commented on #120
Same issue here, changing php version in composer does not change anything.

[2021-08-17 13:38] rosskenney commented on #120
@hatchcurtis if you could include your composer.json file that would be very helpful in recreating this. thanks

[2021-08-17 19:00] thunder87 commented on #120
{
  "require": {
    "craftcms/cms": "3.7.9",
    "craftcms/redactor": "2.8.8",
    "craftcms/contact-form": "^2.2",
    "vlucas/phpdotenv": "3.6.8",
    "verbb/expanded-singles": "1.1.4",
    "nystudio107/craft-seomatic": "3.3.48",
    "vaersaagod/dospaces": "1.1.3",
    "aelvan/inlin": "^2.1",
    "aelvan/imager": "^2.1",
    "mmikkel/retcon": "2.2.3",
    "dolphiq/redirect": "dev-master",
    "

[2021-08-17 20:57] hatchcurtis commented on #120
here you go:

{
  "require": {
    "craftcms/cms": "3.7.8",
    "vlucas/phpdotenv": "^2.4.0",
    "nystudio107/craft-twigpack": "1.2.15",
    "ether/seo": "3.7.4",
    "craftcms/contact-form": "2.2.7",
    "spicyweb/craft-embedded-assets": "2.8.0",
    "craftcms/redactor": "2.8.8",
    "aelvan/mailchimp-subscribe": "3.0.3",
    "verbb/super-table": "2.6.8",
    "craftcms/aws-s3": "1.2.15",
    "hy

[2021-08-17 23:10] rosskenney commented on #120
Sorry I didn't catch this originally, but it doesn't look like this is an issue with this plugin, but rather an issue with the aelvan/mailchimp plugin.
see the last lines that normally point to the plugin that is having the issues with requirements.

`- aelvan/mailchimp-subscribe 3.0.3 requires pacely/mailchimp-apiv3 ^1.0 -> satisfiable by pacely/mailchimp-apiv3[v1.0.6].
- pacely/mailchimp-apiv3 v

[2021-08-17 23:38] rosskenney commented on #120
I also ran a fresh install and am using php7.4. I did not run into an issue with an install or an upgrade from 1.24 to 1.25.

See output.

➜  bugtest composer i
No composer.lock file present. Updating dependencies to latest instead of installing from lock file. See https://getcomposer.org/install for more information.
Loading composer repositories with package information
Updating dependencies
Loc

[2021-08-18 13:42] rosskenney commented on #113
This would require quite a bit of adjustments. Right now we are using the package https://github.com/albertcht/invisible-recaptcha to bring recaptcha in.

[2021-08-18 17:18] rosskenney commented on #98
@sunnok I am going through as many issues as I can as of late. @eeeeeeeeeve is correct. The message array is what can deliver all kinds of other fields per form. It may seem odd, but if you want to have a Message field it would be something like `name="message[Message]"`, but if you just put `name="message"` it will overwrite the previous array items. I hope that helps. Let me know if you still ne

[2021-08-18 17:18] #98 closed

[2021-08-18 17:55] rosskenney commented on #84
Based on the above it would be something like this
[code]

I am going to expand on the readme to help with questions like this. Really it should be able to do everything that is in the Craft Contact Form readme. This is just needed to loop through the array on output during the email though.

[2021-08-18 17:55] #84 closed

[2021-08-18 18:02] rosskenney commented on #13
If anyone wants to submit a PR to make a pretty version of a CSV I am all for it. Otherwise at this point Craft already has the built in Export option to get the data out of the table.

[2021-08-18 18:02] #13 closed

[2021-08-18 20:30] rosskenney commented on #83
It appears this issue may have been related to something else. Possibly the Craft Contact Form plugin or another. Please let us know if the issue continues to persist.

[2021-08-18 20:30] #83 closed

[2021-08-18 20:36] rosskenney commented on #79
This seem to be resolved and working.

[2021-08-18 20:36] #79 closed

[2021-08-18 20:51] rosskenney commented on #97
This can be accomplished but would need to be with javascript.

[2021-08-18 20:51] #97 closed

[2021-08-18 20:53] rosskenney commented on #81
This will be addressed with the next version. I am using a callback on the recaptcha scripts to trigger the rest of the scripts to run.

[2021-08-18 20:53] #81 closed

[2021-08-18 21:00] rosskenney commented on #77
Yes this is what is overwritten when using the `enableTemplateOverwrite` along with setting the `notificationTemplate`

[2021-08-18 21:00] #77 closed

[2021-08-21 18:48] daltonrooney commented on #120
If you're having a problem with the Mailchimp plugin, this has been solved in https://github.com/aelvan/mailchimp-subscribe-craft/issues/117. Try `composer require guzzlehttp/guzzle:^6`, then `composer require aelvan/mailchimp-subscribe`, at which point your installment requirements should be sorted out.

[2021-08-22 11:29] MetaDevelopment commented on #120
I am having the same issue, but I'm not using the Mailchimp plugin.

I set up a fresh install using PHP 7.4 and first installed a couple of other plugins, after which I tried installing the Craft Contact Form Extentions (CCFE), but that gave an error (code below). Manually adding the CCFE version 1.2.4 to the composer.json file and running "composer update" via the terminal did install CCFE withou

[2021-08-23 12:31] rosskenney commented on #120
@MetaDevelopment please adjust to the same php version you are using. So if you are using 7.4 make sure that is what is listed in your composer.json file.

[2021-08-23 12:36] rosskenney commented on #120
Just so you know this is what that is doing https://getcomposer.org/doc/06-config.md#platform

[2021-08-23 13:02] MetaDevelopment commented on #120
@rosskenney : thanks for that input and the link! I've updated it, ran "composer update" and after that could just update CCFE to the latest version without issues. So my post above is not relevant to this issue, I believe.
Strange though that an incorrect version is shown there, since Craft creates the composer file but does recognise the correct version if I check it within Craft.

[2021-08-23 13:34] rosskenney commented on #120
That allows you to lock in the production php version and be able to load it up locally and not have issues. 7.2 EOL is coming up in November. Here is the exact line that shows that the issue is due to not having it set for 7.3 or better.

`illuminate/support[v8.0.0, ..., v8.11.2] require php ^7.3 -> your php version (7.2.5; overridden via config.platform, actual: 7.4.15) does not satisfy that req

[2021-08-23 13:34] #120 closed

[2021-08-23 16:21] MetaDevelopment opened #121 "Confirmation email: "From" address"
I've been testing the confirmation email functionality, but I can't seem to adjust the "From" email address that is used/displayed.
- there's no setting for this in the plugin
- it doesn't use the "System Email Address" as set in the Email Settings of Craft
- it doesn't use the admin account's email address (?)

In my use-case it seemed to use the address which I use for my admin account. However,

[2021-08-23 18:13] rosskenney commented on #121
To preface everything here, this plugin requires and uses the Craft Contact Form plugin. The settings for the "From" email is set by this. See the https://github.com/craftcms/contact-form. The confirmation email uses the system email address, and the Sender name is also set there. See Settings > Email.
![image](https://user-images.githubusercontent.com/6130752/130496177-2d160ee9-f374-4912-b877-803

[2021-08-23 18:25] #121 closed

[2021-08-23 20:27] MetaDevelopment commented on #121
Conclusion for anyone reading this closed issue:
The "From" address for the confirmation emails is NOT linked to the Craft email settings in "Settings > Email", as one would expect and as Ross Kennedy says above.
It is instead the "To Email" setting inside the Craft Contact Form plugin, so the same address as to which the notification gets sent.

[2021-09-27 16:57] #61 closed

[2021-10-12 09:59] jamiematrix opened #123 "All email being detected as spam with reCaptcha on"
When I turn reCaptcha on no emails get sent or saved to the database, turning it off and emails send OK and submissions get saved. reCaptcha is loading as I get the logo in the lower right of the screen.

Looking at the logs I can see each email has the following:
`2021-10-12 09:46:44 [-][1][-][warning][craft\contactform\Mailer::send] Contact form submission suspected to be spam.`

Lowering to the

[2021-10-12 10:43] jamiematrix commented on #123
A little debugging and it looks like `$captchaResponse = Craft::$app->request->getParam('g-recaptcha-response');` is returning NULL from `g-recaptcha-response` so the verification cannot happen.

[2021-10-12 10:59] #123 closed

[2021-10-19 19:13] #100 closed

[2021-10-20 13:00] rosskenney commented on #59
Closing as PR open for this item.

[2021-11-11 09:53] satcreative commented on #92
Hi @DynamiteGoesBoom, has this enhancement been added to the plugin yet?

[2022-02-28 14:24] jamiematrix opened #132 "Exclude formName from email"
Is it possible to exclude the `formName` field from the email content that gets sent?

[2022-02-28 19:25] rosskenney commented on #132
Are you using the default output or a template override?

[2022-03-01 13:52] jamiematrix commented on #132
Ah! Good point. Just using the default output currently. Suppose could just do a template without the field

[2022-03-01 14:25] rosskenney commented on #132
That is what I would do if you want to choose which things output. You can still loop the output in the template and just have it exclude that field.

[2022-03-01 15:07] #132 closed

[2022-04-13 22:55] rosskenney commented on #71
Closing due to age.

[2022-04-13 22:55] #71 closed

[2022-04-13 22:55] rosskenney commented on #12
Closing due to age.

[2022-04-13 22:55] #12 closed

[2022-04-13 22:56] rosskenney commented on #58
Closing due to age.

[2022-04-13 22:56] #58 closed

[2022-04-13 23:39] benface commented on #58
Ah.

[2022-04-14 03:04] #108 closed

[2022-04-14 03:05] rosskenney commented on #108
See notes on the override. Just need to add a hidden field to set the override per form. @mijewe

[2022-04-14 03:11] rosskenney commented on #94
Pushed this change up today in a PR @payello and @cole007. See the resulting readme for the hidden field for the per form override.

[2022-04-14 03:12] #94 closed

[2022-04-14 03:53] rosskenney commented on #92
@shgzon and @satcreative this is now in the pipeline and will be in the next release.

[2022-04-14 03:53] #92 closed

[2022-04-14 03:54] rosskenney commented on #96
Without further help from you or other this is not possible currently. Closing due to age.

[2022-04-14 06:56] Friksel commented on #96
@rosskenney  WTF man, you never asked anything and nobody ever reacted and now you're blaming me for not helping as an excuse and act like the issue is open too long, ignoring the fact that that's your own fault...

just to close this issue as you don't feel like doing something about it???

Please re-open this issue. Nothing has changed.

[2022-04-14 07:19] shgzon commented on #92
@rosskenney Thanks for implementing this. What if I don't want the confirmation email for one of the contact forms if I have multiple? Will leaving the value empty do the trick?

[2022-04-14 11:53] rosskenney commented on #96
@Friksel Sorry, not blaming you but after 2 years no one has put forth a PR for this. I will reopen it and see if I can figure it out for you. Happy to see a PR from you if you have one. I am trying to prepare for Craft 4 and it's not as if this is a paid plugin so I may not get to this quickly.

[2022-04-14 12:10] rosskenney commented on #92
There is now an ability to add a hidden input to override this. It will be released shortly and will be in the readme.

[2022-04-14 12:46] shgzon commented on #92
@rosskenney I understand to override the template on a form basis. But I mean what if you don't want to send the confirmation e-mail on just one of the forms (when having multiple forms).

[2022-04-14 13:13] rosskenney commented on #92
@shgzon yes the new hidden input will allow each form to turn off the confirmation email on a per form basis. Possibly later today this will be released and there will be an example in the Readme.

[2022-04-14 17:52] DynamiteGoesBoom commented on #92
@shgzon We just released 1.3.0 and should have the updates you requested.

[2022-04-14 17:55] DynamiteGoesBoom commented on #96
@Friksel We do not support Multisite with this free plugin. If you need additional features then you're going to be better off with Freeform or Formie. There are just too many things to consider with multisite support for such a simple plugin.

[2022-04-14 17:55] #96 closed

[2022-04-25 15:50] sunscreem opened #140 "Graceful handling of visiting URLs of deleted forms."
Best explained with an example:

User A logs in and spots that a form submission is junk.

_At the same time_ User B logs in.

User A deletes the form.

User B tries to visit the (now deleted) submission and gets the 500 error:

![image](https://user-images.githubusercontent.com/7523595/165125970-235e76c4-fcdd-45fa-86e0-cecb068383dd.png)

It would be great if the plug in could handle the deleted f

[2022-04-25 19:26] rosskenney commented on #140
I have taken a look at this and will check if there is a response and output accordingly. Will show not found/deleted. I will push up by the end of the week.

[2022-04-26 09:58] sunscreem commented on #140
Amazing work :) Thank you both.

[2022-05-02 17:28] angieherrera opened #143 "Craft 4?"
Hi! Just wondering if there will be a Craft 4 version (assuming there isn't one already that I missed)? Thanks!

[2022-05-02 17:49] rosskenney commented on #143
@angieherrera This is being worked on. We will have a Craft 4 version out soon. There are a few branches already in place for when this is released.

[2022-05-03 00:53] angieherrera commented on #143
@rosskenney - Awesome, thanks for the update!

[2022-05-04 18:54] DynamiteGoesBoom commented on #140
@sunscreem this release has been published!

[2022-05-04 18:54] #140 closed

[2022-05-04 19:53] sunscreem commented on #140
Hey @DynamiteGoesBoom - Fantastic! I'll check this out in a couple of days and feedback :)

[2022-05-11 11:08] joelod opened #147 "Admin Panel - Form Submissions view issue: Argument 1 passed to craft\helpers\StringHelper::convertToUtf8()"
Hi,

I'm having an issue while consulting the Form Submissions on the admin panel.
For a specific site, everytime I click on the submission ID, I get the following error:

`
Argument 1 passed to craft\helpers\StringHelper::convertToUtf8() must be of the type string, object given, called in /var/www/vhosts/costanovaprofessional.pt/costanovaprofessional.pt/vendor/hybridinteractive/craft-contact-form

[2022-05-11 16:32] rosskenney commented on #147
@joelod If you could export the raw data from the submissions it might help pinpoint which data it is having trouble with and how we can fix this. If it's test data feel free to drop it here.

<img width="257" alt="image" src="https://user-images.githubusercontent.com/6130752/167901065-fd9807c7-1712-41cd-b169-93b299b8475b.png">

[2022-05-12 13:10] joelod commented on #147
@rosskenney thank you, yes I've attached an example of the exported data
[elements.csv](https://github.com/hybridinteractive/craft-contact-form-extensions/files/8679321/elements.csv)

[2022-05-12 14:23] rosskenney commented on #147
@joelod I think it might be the product doing it. Can you send me the front end form code. I just need the form itself and you can send the html version if you are using craft to populate the products etc. I want to run a few test scenarios are see what the root cause is.

[2022-05-13 16:59] sunscreem commented on #140
Hey @DynamiteGoesBoom FINALLY got time to run the updates. Works perfectly. Thank you!

[2022-05-16 19:37] rosskenney commented on #143
A version for Craft 4 has been released. It's in beta so testing is appreciated!

[2022-05-16 19:37] #143 closed

[2022-05-16 20:29] rosskenney commented on #147
@joelod are you saving this using js? Do you have an example on a demo or live site?

[2022-05-16 20:39] joelod commented on #147
@rosskenney sorry I forgot my answer the other day.
Yes I'm using JS with jQuery, here's my code for the Ajax submission:
[code]

[2022-05-16 20:42] joelod commented on #147
And here's the HTML for the form:

            <form class="form h-contact-form">
              {{ csrfInput() }}

              <input type="hidden" name="toEmailIb" value="{{ 'ib@costanova.pt'|hash }}">
              <input type="hidden" name="toEmailUSA" value="{{ 'julia@casafinagifts.com'|hash }}">
              <input type="hidden" name="toEmailRoW" value="{{ 'info@costanova.pt'|hash }}">

[2022-05-16 21:04] rosskenney commented on #147
@joelod Thank you! I will take a look at this to see what I can do.

[2022-05-18 08:15] joelod commented on #147
@rosskenney thank you!

[2022-05-24 10:09] holiday-jan opened #149 "PHP Parse error: syntax error, unexpected ''"
We want to use this plugin, but after installation we're getting a PHP Parse error on the RecaptchaV3.php model.

`./vendor/hybridinteractive/craft-contact-form-extensions/src/models$ php -f RecaptchaV3.php`

`php -v`

After some investigation it's not line 94 , but line 42 - 73, that causes this issue.

That is because the following:

https://www.php.net/manual/en/language.types.string.php#langua

[2022-05-25 05:53] holiday-jan commented on #149
Yeah i understand, and we're also moving towards craft4, on a complete new env, but untill then i hope we can make this work.

This isn't enough, it needs to be on the first column, so the beginning of the line. For newer version of PHP this isn't a problem. See https://www.php.net/manual/en/language.types.string.php#language.types.string.syntax.heredoc :

So if you could make it like:
[code]
"HTM

[2022-05-25 13:26] rosskenney commented on #149
Ok try it now in the develop branch

[2022-05-30 05:44] holiday-jan commented on #149
Hi Ross,
Yes that works perfectly 👍
Best regards, Jan

[2022-05-30 13:28] #149 closed

[2022-05-31 13:41] rosskenney commented on #147
Setting this up and running it locally, I see it is for sure the object being created. This plugin follows what is allowed from the Craft Contact Form and hence why it doesn't know how to output it. I would take a look at https://github.com/craftcms/contact-form to keep in line with what the plugin can handle. This plugin is just an extension of that one.

[2022-05-31 17:34] mateostabio opened #152 "After updating, recaptcha doesn't work"
I just performed an update to Craft CMS to 3.7.43, and updated this plugin to 4.0.0-beta.3

Now the forms won't send unless I disable the Invisible reCAPTCHA. If I leave it enabled, it does not send emails.

Please help.

[2022-05-31 17:38] rosskenney commented on #152
@mateostabio so you are now on Craft 4 then?

[2022-05-31 17:49] rosskenney commented on #152
@mateostabio Ah, the Craft 3 version is in the version 1.X.X range. The 4.0.0-beta.3 is for Craft 4 only. Please downgrade to version 1.3.1. We will still maintain that version for Craft 3.

[2022-05-31 18:20] rosskenney commented on #152
Also to note, this is how a lot of other plugins did it also so if you are running into issues, make sure you are using the Craft 3 compatible version.

[2022-05-31 20:59] mateostabio commented on #152
Thank you ! Will do.

[2022-06-02 16:19] joelod commented on #147
@rosskenney makes sense to me, thanks I'll do that.

[2022-06-02 16:19] #147 closed

[2022-06-08 06:03] holiday-jan commented on #149
Hi Ross,
Are you planning to release this fix to a Craft3 version, so we can continue updating other packages.

so it will break now because this isn't a valid release, and it will continue installing the 1.3.1 version

[2022-06-08 15:08] rosskenney commented on #149
@holiday-jan I will get this in a new release shortly. (Hopefully in the next few days)

[2022-06-08 17:49] rosskenney commented on #149
See newest release @holiday-jan

[2022-06-19 11:53] SoundOfGeorge opened #156 "Editing submissions"
Hi there!
I really love this extension and I'm using it for several of my websites.
One of them a website for a small event.
I would like to give my enduser the option to manage/edit some submissions so they can keep track of who has confirmed to attend.
I have a table listing all the submissions of a specific form using:
{% for entry in craft.contactFormExtensions.submissions.subject(Query).all()

[2022-06-20 17:52] rosskenney commented on #156
Hi @SoundOfGeorge, Currently there is no ability in the plugin to edit the submissions beyond deleting them. I can look into this when I have some free time but it may not be quick. I would think we would need to add another service or adjust the save service to check if there is another field with the submission id listed. The save entry wont work as this is it's own table and not using craft ent

[2022-06-21 07:16] SoundOfGeorge commented on #156
Hi Ross,
Good to know i don't have to look any further.
I would do it myself if I could but i'm affraid that kind of stuff is way out of my comfort zone.
I think this would indeed supercharge the extension and really have a solution for all kind of purposes.

[2022-07-05 20:23] springboynick opened #158 "Overrides not working in form"
Good evening.

Im not sure if im missing something obvious, but apart from the toEmail override, I cannot get any in form overrides to be affective.

here is my code

`{% macro errorList(errors) %}
    {% if errors %}
        {{ ul(errors, {class: 'errors'}) }}
    {% endif %}
{% endmacro %}

{% set submission = submission ?? null %}

<form method="post" action="" accept-charset="UTF-8">
    {{ cs

[2022-07-06 19:50] rosskenney commented on #158
Hi, in this code I am not seeing an override used from this plugin. Just know that if you want to use a message input by itself you should use it as message[message] as the overrides piggyback off the message array. Example name="message[template]".

[2022-07-11 22:17] rosskenney commented on #158
Closing this unless there is more information. Again please make sure to not just used name="message" as the other overrides use that array.

[2022-07-11 22:17] #158 closed

[2022-07-14 11:21] boboldehampsink opened #159 "Error installing for Craft 4"
When installing 4.0.0-beta.3 for Craft 4 it fails with the following error:

[code]

[2022-07-14 12:10] rosskenney commented on #159
I will take a look at this. Could you provide a copy of your composer.json. Thanks!

[2022-07-14 12:11] boboldehampsink commented on #159
[code]

[2022-07-14 12:12] rosskenney commented on #159
Thanks, I'll have a look today at it

[2022-07-14 12:13] boboldehampsink commented on #159
Thanks!

[2022-07-15 07:21] boboldehampsink commented on #159
Thanks! I fixed it by upgrading Codeception to 5.0 beta...

[2022-07-15 14:42] #159 closed

[2022-08-03 16:30] jamiematrix opened #160 "Composer error when installing"
Just installed the Contact Form plugin and wanted to install this Extensions plugin too but getting the following error (a colleague gets the same error)
[code]
Other closed issues point to a PHP version mismatch in composer.json but that is set to 7.4 which is the same as the site.

[code]
All other plugins are installed and working. The contact form plugin works and is setup

[2022-08-03 17:28] rosskenney commented on #160
I cannot recreate the issue, but it seems like multiple things above are saying things are locked to wrong versions in the composer lock file. I just installed that same set of packages locally with no issue on php 7.4

[code]

composer.json
[code]

[2022-08-03 17:31] rosskenney commented on #160
Looks like maybe the guzzle and composer from other packages? I know we have bumped guzzle a few times in this plugin to the latest due to dependabot.

[2022-08-03 17:33] rosskenney commented on #160
In short, try deleting the lock file

[2022-08-03 18:25] jamiematrix commented on #160
I forgot to mention I had tried deleting the lock file and vendor folder - no joy.

I had just updated Formie, but my colleague has the older version and gets the same error.

Looking at the lock file, one line has Craft itself requiring the composer version that’s being complained about.

[2022-08-04 12:09] jamiematrix commented on #160
Thought I'd try from within Craft instead of the CLI and got this error:
[code]

[2022-08-04 13:02] jamiematrix commented on #160
Must be an issue with our setups. I took a brave pill and installed via CLI on the live site. Plugins installed fine. I've copied the composer files to my setup and ran `composer install` and all went well

[2022-08-04 15:36] rosskenney commented on #160
Glad it worked out. Yeah I couldn't recreate the issues locally so not sure what the issue was.

[2022-08-04 15:37] #160 closed

[2022-08-09 08:54] jordikroon commented on #143
Hi there,

Thanks for the work on the Craft 4 release. Any news on when this plugin is expected to be out of beta?

[2022-08-09 13:19] rosskenney commented on #143
@jordikroon It most likely could be as of now, as testing has been done and we haven't seen many issues being reported. I will look into this shortly.

[2022-10-30 18:11] palomamtnez opened #162 "reCAPTCHA has been removed?"
Hello, thanks for the plugin !
Looks like there are no reCAPTCHA settings anymore in the admin panel?
How do I enable it?
I'm using Craft 4
Thanks!

[2022-10-31 11:05] rosskenney commented on #162
@palomamtnez I will have a look at this. The config/contact-form-extensions.php file will allow for all adjustments available.

[2022-11-02 12:36] rosskenney commented on #162
@palomamtnez Looks like some craft changes made me have to update some things with the plugin. The next release will fix this issue. See https://github.com/hybridinteractive/craft-contact-form-extensions/pull/163

[2022-11-02 12:36] #162 closed

[2022-11-14 15:33] marcel-boer opened #164 "reCaptcha Tab is missing in Craft 4"
Hi, the reCaptcha Tab is missing after upgrading my Craft 3 to Craft 4.

[2022-11-14 15:55] rosskenney commented on #164
What is your Craft 4 version @marcel-boer?

[2022-11-14 15:55] marcel-boer commented on #164
4.3.1 - Latest One

[2022-11-14 15:56] rosskenney commented on #164
ok and you are using 4.2.1 of this plugin?

[2022-11-14 15:57] marcel-boer commented on #164
@rosskenney Yes :)

[2022-11-14 15:58] marcel-boer commented on #164
<img width="1469" alt="Screenshot 2022-11-14 at 16 57 45" src="https://user-images.githubusercontent.com/88040821/201706260-2438bb49-24f6-4a96-88ab-dac4f4b40c03.png">

[2022-11-14 15:58] rosskenney commented on #164
Hmm ok, let me get my local test env going and see about this. Are you using php8.0?

[2022-11-14 16:06] marcel-boer commented on #164
Also i just installed the plugin on a fresh Craft 4 version (no upgrade from 3 to 4) and also there it's missing :) if that helps!

[2022-11-14 16:08] rosskenney commented on #164
Yeah, I have tested this on 8.0 for Craft 4 but not 8.1. Let me see how it looks on my local dev.

[2022-11-14 16:09] marcel-boer commented on #164
It is  also missing with PHP 8.0 :) Just switched versions on my web server

[2022-11-14 16:26] marcel-boer commented on #164
Thank you!!

[2022-11-14 19:03] mightyfineyall commented on #164
@rosskenney Seeing the issue here with 4.2.1 and Craft Pro 4.3.1. Are there instructions on what the contact-form-extensions.php file needs to look like? Don't see anything about it in the docs...

[2022-11-14 19:21] rosskenney commented on #164
I have found the issue and am working on a fix. For now I will adjust it, but I am going to build out the template right so this won't happen for future updates. @mightyfineyall if you copy this file (https://github.com/hybridinteractive/craft-contact-form-extensions/blob/master/src/config.php) and name it contact-form-extentions.php and put it in the config it will override the CP.

[2022-11-14 19:33] rosskenney commented on #164
ok fix is in the dev branch and will be released today @mightyfineyall and @marcel-boer. Please let me know here if there are still any issues after updating.

[2022-11-14 19:35] mightyfineyall commented on #164
@rosskenney will do. Thanks for your hard work - we use the heck out of this plugin. I think it's on every site we've pushed live.

[2022-11-14 20:16] rosskenney commented on #164
That's great to hear @mightyfineyall ! I am carrying the torch on this one and hope to keep it going!

[2022-11-14 20:16] #164 closed

[2022-11-14 20:16] rosskenney commented on #164
See https://github.com/hybridinteractive/craft-contact-form-extensions/releases/tag/4.2.2

[2022-11-14 20:23] marcel-boer commented on #164
Thanks a lot!!!